//user selection

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #5CFFB0;

}

::selection {
    color: white;
    background: #5CFFB0;
}


//scroll bar

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    width: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #000;
    -webkit-box-shadow: inset -1px -1px 0px #000, inset 1px 1px 0px #000;
    box-shadow: inset -1px -1px 0px #000, inset 1px 1px 0px #000;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

//block select

.user-select-none{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
